$background-body-light: #e4e3e5;
$background-body-dark: #a3bdbf;
$backgorund-top-context: #27a2ab;
$root-background: #e6eaeb;
$sidebar-background: #d4d4d4;
$default-border: #bababa;
$color-white: #fff;
$background-btn: #204245;