@mixin font-class($size, $weight, $height, $color, $align) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  text-align: $align;
  color: $color;
}

@mixin background-image-styles($size, $position, $repeat) {
  background-size: $size;
  background-position: $position;
  background-repeat: $repeat;
}